<a href="https://colab.research.google.com/github/Karthik-PBIX/Guvi-Classes/blob/main/4_mar_23_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [96]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

In [97]:
lr = LogisticRegression()
X = np.array([2.78, 2.44, 2.09, 0.14, 1.72, 1.65, 4.92, 4.37, 4.96, 4.52, 3.69, 5.88]).reshape(-1,1)
y = np.array([0,0,0,0,0,0,1,1,1,1,1,1]).reshape(-1,1)

In [98]:
print(X,y)

[[2.78]
 [2.44]
 [2.09]
 [0.14]
 [1.72]
 [1.65]
 [4.92]
 [4.37]
 [4.96]
 [4.52]
 [3.69]
 [5.88]] [[0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]]

In [99]:
lr.fit(X,y)
pred = lr.predict(np.array([4.01]).reshape(-1,1))

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [100]:
print(pred)

[1]

In [101]:
df = sns.load_dataset('titanic')

In [102]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [103]:
le = LabelEncoder()
le.fit(df['sex'])
df['sex'] = le.transform(df['sex'])

In [104]:
df['sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: sex, Length: 891, dtype: int64

In [105]:
le.fit(df['embarked'])
df['embarked'] = le.transform(df['embarked'])
df['embarked']

0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: embarked, Length: 891, dtype: int64

In [106]:
le.fit(df['class'])
df['class'] = le.transform(df['class'])
df['class']

0      2
1      0
2      2
3      0
4      2
      ..
886    1
887    0
888    2
889    0
890    2
Name: class, Length: 891, dtype: int64

In [107]:
le.fit(df['who'])
df['who'] = le.transform(df['who'])
df['who']

0      1
1      2
2      2
3      2
4      1
      ..
886    1
887    2
888    2
889    1
890    1
Name: who, Length: 891, dtype: int64

In [108]:
le.fit(df['adult_male'])
df['adult_male'] = le.transform(df['adult_male'])
df['adult_male']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: adult_male, Length: 891, dtype: int64

In [109]:
le.fit(df['deck'])
df['deck'] = le.transform(df['deck'])
df['deck']

0      7
1      2
2      7
3      2
4      7
      ..
886    7
887    1
888    7
889    2
890    7
Name: deck, Length: 891, dtype: int64

In [110]:
le.fit(df['embark_town'])
df['embark_town'] = le.transform(df['embark_town'])
df['embark_town']

0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: embark_town, Length: 891, dtype: int64

In [111]:
le.fit(df['alive'])
df['alive'] = le.transform(df['alive'])
df['alive']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: alive, Length: 891, dtype: int64

In [114]:
le.fit(df['alone'])
df['alone'] = le.transform(df['alone'])
df['alone']

0      0
1      0
2      1
3      0
4      1
      ..
886    1
887    1
888    0
889    1
890    1
Name: alone, Length: 891, dtype: int64

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int64
 8   class        891 non-null    int64
 9   who          891 non-null    int64
 10  adult_male   891 non-null    int64
 11  deck         891 non-null    int64
 12  embark_town  891 non-null    int64
 13  alive        891 non-null    int64
 14  alone        891 non-null    int64
dtypes: float64(2), int64(13)
memory usage: 104.5 KB

In [116]:
df.isnull().any()

survived       False
pclass         False
sex            False
age             True
sibsp          False
parch          False
fare           False
embarked       False
class          False
who            False
adult_male     False
deck           False
embark_town    False
alive          False
alone          False
dtype: bool

In [117]:
df = df.fillna(method = 'pad')
df.isnull().any()

survived       False
pclass         False
sex            False
age            False
sibsp          False
parch          False
fare           False
embarked       False
class          False
who            False
adult_male     False
deck           False
embark_town    False
alive          False
alone          False
dtype: bool

In [118]:
X = df.drop(['alive','survived', 'pclass', 'who', 'deck', 'adult_male'], axis = 1)
y = df['alive']

In [119]:
lr = LogisticRegression()
lr.fit(X,y)
y_pred = lr.predict(X)
df['predicted'] = y_pred

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [120]:
print("Confusion Matrix")
print(confusion_matrix(y, y_pred))

Confusion Matrix
[[475  74]
 [101 241]]

In [126]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [123]:
print(accuracy_score(y,y_pred))

0.8035914702581369

In [125]:
print(precision_score(y,y_pred))

0.765079365079365

In [124]:
print(recall_score(y,y_pred))

0.7046783625730995

In [127]:
print(f1_score(y,y_pred))

0.7336377473363775